fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-google-genai
langchain_groq
langchain-openai
langchain-community
pypdf
python-multipart
pandas
google-api-core
pydantic
openpyxl
chromadb